### Some examples of *Pythonic* code-chunks from *Python Cookbook by David Beazley & Brian K. Jones*

### Chapter - 1: Data Structures and Algorithms

#### Q1: Unpacking elements of list (or tuple):

In [1]:
data = ['Mehul', 'Patel', 'Python', 11, (4,11,2018)]
f_name, l_name, interest, _, dt = data  ## Can also introduce throwaway variables by using _
f_name, l_name, interest, dt

('Mehul', 'Patel', 'Python', (4, 11, 2018))

In [2]:
mnth, week_day, yr = dt
mnth, yr

(4, 2018)

In [3]:
data_2 = [45,3454,345,46,2345,54,235,45]
*all_previous, recent = data_2

## Notice the last element will be stored into 'recent'
all_previous

[45, 3454, 345, 46, 2345, 54, 235]

In [4]:
data_3 = 'nobody:*:-2:-2:Unprivileged User:/var/empty:/usr/bin/false'
*_, dir_1, dir_2 = data_3.split(':')

dir_1, dir_2

('/var/empty', '/usr/bin/false')

#### Q2: Storing elements in different variables when you don't know how many elements are going to be (i.e. Unpacking elements from an interable of arbitrary length)

In [5]:
## 1. Store multiple phone numbers from user-data
def get_phone_numbers(record):
    
    f_name, l_name, *phone_numbers = record
    
    return phone_numbers

In [6]:
## Will always be a list!
get_phone_numbers(record = ['Mehul', 'Patel', '123-456-7890', '0987-654-321'])

['123-456-7890', '0987-654-321']

In [7]:
get_phone_numbers(record = ['Mehul', 'Patel', '123-456-7890'])

['123-456-7890']

In [8]:
## 2. Sum numbers: 1st element + rest of the elements
def get_sum(nums):
    
    head, *tail = nums
    
    return head + sum(tail)

get_sum([1,2,3])

6

#### Q3: Inserting and removing elements from a *deque*:

#### Advantage of using *deque*:
1. Adding or popping items from either end of a deque has O(1) complexity. This is unlike a list where inserting or removing items from the front of the list is O(N).

In [9]:
from collections import deque

In [10]:
# deck = deque(maxlen = 3)
deck = deque()
deck.append(1)
deck.append(10)
deck.append(21)
deck

deque([1, 10, 21])

In [11]:
deck.appendleft(101)
print (deck)

deck.append(201)
print (deck)

deque([101, 1, 10, 21])
deque([101, 1, 10, 21, 201])

In [12]:
## Defaults to last element:
deck.pop()
deck

deque([101, 1, 10, 21])

#### Q4: Few things w/ *dictionaries*:  Creating and Editing

In [13]:
from collections import defaultdict
d = defaultdict(list)

In [14]:
d['a'].append(1)
d['a'].append(2)
d['a'].append(3)
d

defaultdict(list, {'a': [1, 2, 3]})

In [15]:
d = defaultdict(set)
d['a'].add(1)
d['a'].add(3)
d['a'].add(2)
d['a'].add(1)
d

defaultdict(set, {'a': {1, 2, 3}})

### Following is imortant to keep in mind:

In [16]:
d = defaultdict(list)
d['a'].append(1)
d['a'].append(2)
d['a'].append(3)
d

defaultdict(list, {'a': [1, 2, 3]})

In [17]:
## Let's access a key that does not exist in d:
d['b']

[]

In [18]:
d

defaultdict(list, {'a': [1, 2, 3], 'b': []})

###  It will automatically create dictionary entries for keys accessed later on (even if they aren’t currently found in the dictionary).

#### How to get Ordered Dictionaries:

In [19]:
## Example of un-ordered dict (default):
d = defaultdict(list)
d['foo'] = 1
d['bar'] = 2
d['spam'] = 3
d['grok'] = 4
d

defaultdict(list, {'bar': 2, 'foo': 1, 'grok': 4, 'spam': 3})

In [20]:
## Example of ordered dict: Preserve the order based on insertion order 
## of keys.
from collections import OrderedDict
d = OrderedDict()
d['foo'] = 1
d['bar'] = 2
d['spam'] = 3
d['grok'] = 4
d

OrderedDict([('foo', 1), ('bar', 2), ('spam', 3), ('grok', 4)])

In [21]:
import json
json.dumps(d)

'{"foo": 1, "bar": 2, "spam": 3, "grok": 4}'

### Things are rarely w/o caveats!

> An OrderedDict internally maintains a **doubly linked list** that **orders the keys according to insertion order**. When a new item is first inserted, it is placed at the end of this list. Subsequent reassignment of an existing key doesn’t change the order.

> Be aware that the size of an **OrderedDict** is more than **twice as large as a normal dictionary** due to the **extra linked list** that’s created.

> Linked List: [AwesomeLink](https://www.youtube.com/watch?v=pBrz9HmjFOs) [GoodLink](https://www.youtube.com/watch?v=njTh_OwMljA): Simple data structure where each element links to next element, and so on. Can contain: strings, characters, numbers, sorted-unsorted numbers, duplicates, uniques.

> Unlike arrays-in which all elements are indexed-in linked list, if one needs to access element, then need to start with the head (1st element) and reach to desired element with O(n).

> Pros/Cons:
- Inserts/Deletes: O(1)
- Accessing elements: O(n)

> Doubly Linked List: Each elements links to next element and links to previous element as well.

#### Q5: Playing w/ values of a dictionary:

In [1]:
prices = {'ACME': 45, 'AAPL': 612, 'IBM': 205, 'HPQ': 37, 'FB': 10}

In [7]:
min_price = min(zip(prices.items()))
min_price

(('AAPL', 612),)

In [9]:
## Invert keys-values to get minimum of values
min_price = min(zip(prices.values(), prices.keys()))
min_price

(10, 'FB')

In [10]:
sorted(prices)

['AAPL', 'ACME', 'FB', 'HPQ', 'IBM']

In [11]:
sorted(prices.items())

[('AAPL', 612), ('ACME', 45), ('FB', 10), ('HPQ', 37), ('IBM', 205)]

In [12]:
sorted(prices.values())

[10, 37, 45, 205, 612]

In [15]:
sorted(zip(prices.values(), prices.keys()))

[(10, 'FB'), (37, 'HPQ'), (45, 'ACME'), (205, 'IBM'), (612, 'AAPL')]

In [20]:
min(prices)

'AAPL'

In [21]:
min(prices.values())

10

### Note:
> **zip()** creates an itertaor which can only be used once!

In [18]:
temp_ = zip(prices.values(), prices.keys())
print (min(temp_))

(10, 'FB')

In [19]:
print (max(temp_))

ValueError: max() arg is an empty sequence

####  Sorting list of dictionaries:

In [25]:
from operator import itemgetter

In [24]:
data = [
{'fname': 'Brian', 'lname': 'Jones', 'uid': 1003},
{'fname': 'David', 'lname': 'Beazley', 'uid': 1002},
{'fname': 'John', 'lname': 'Cleese', 'uid': 1001},
{'fname': 'Big', 'lname': 'Jones', 'uid': 1004}
]

In [30]:
sorted(data, key = lambda v: v['fname'])

[{'fname': 'Big', 'lname': 'Jones', 'uid': 1004},
 {'fname': 'Brian', 'lname': 'Jones', 'uid': 1003},
 {'fname': 'David', 'lname': 'Beazley', 'uid': 1002},
 {'fname': 'John', 'lname': 'Cleese', 'uid': 1001}]

In [29]:
sorted(data, key = lambda v: (v['lname'], v['fname']))

[{'fname': 'David', 'lname': 'Beazley', 'uid': 1002},
 {'fname': 'John', 'lname': 'Cleese', 'uid': 1001},
 {'fname': 'Big', 'lname': 'Jones', 'uid': 1004},
 {'fname': 'Brian', 'lname': 'Jones', 'uid': 1003}]

> For large data, itemgetter is faster than key

In [31]:
sorted(data, key = itemgetter('fname'))

[{'fname': 'Big', 'lname': 'Jones', 'uid': 1004},
 {'fname': 'Brian', 'lname': 'Jones', 'uid': 1003},
 {'fname': 'David', 'lname': 'Beazley', 'uid': 1002},
 {'fname': 'John', 'lname': 'Cleese', 'uid': 1001}]

In [32]:
sorted(data, key = itemgetter('lname', 'fname'))

[{'fname': 'David', 'lname': 'Beazley', 'uid': 1002},
 {'fname': 'John', 'lname': 'Cleese', 'uid': 1001},
 {'fname': 'Big', 'lname': 'Jones', 'uid': 1004},
 {'fname': 'Brian', 'lname': 'Jones', 'uid': 1003}]

#### Q6: Commonalities among dictionaries:

In [31]:
a = {'x': 1, 'y': 2, 'z': 3}
b = {'w': 10, 'x': 11, 'y': 2}

In [23]:
## For keys
a.keys() & b.keys()

{'x', 'y'}

In [34]:
## For values - Direct method not available. Need to convert the valeus to set() first and do the rest.
a.values() & b.values()

TypeError: unsupported operand type(s) for &: 'dict_values' and 'dict_values'

In [35]:
set(a.values()) & set(b.values())

{2}

In [32]:
## Find (k,v) pairs
a.items() & b.items()

{('y', 2)}

In [33]:
## Find keys in 'a' that are not in 'b'
a.keys() - b.keys()

{'z'}

#### Q10: Remove duplicates while preservingthe order:

In [36]:
## Does not preserve the order
ls_1 = [1,3,5,8,2,3,1,10]
set(ls_1)

{1, 2, 3, 5, 8, 10}

In [51]:
## Valid only for hashable items
## Genereator
def removeDup(items):    
    seen = set()
    for item in items:
        if item not in seen:
            yield item
            seen.add(item)
    
    return seen

## W/o genereator
def removeDup_2(items):    
    seen = set()
    for item in items:
        if item not in seen:
#             yield item
            seen.add(item)
    
    return seen

In [50]:
ls_2 = [10,4,2,20,1,2,1,20]
list(removeDup(ls_2))

[10, 4, 2, 20, 1]

In [54]:
## Sorted numbers
list(removeDup_2(ls_2))

[1, 2, 4, 10, 20]

In [55]:
## For un-hashable items
def removeDup_3(items, key = None):    
    seen = set()
    for item in items:
        val = item if key is None else key(item)
        if val not in seen:
            yield item
            seen.add(val)
    
    return seen

In [59]:
dict_1 = [{'x':1, 'y':2}, {'x':1, 'y':3}, {'x':1, 'y':2}, {'x':2, 'y':4}]
list(removeDup_3(dict_1, key = lambda d: (d['x'], d['y'])))
list(removeDup_3(dict_1, key = lambda d: (d['x'])))

[{'x': 1, 'y': 2}, {'x': 2, 'y': 4}]

In [60]:
list(removeDup_3(ls_2))

[10, 4, 2, 20, 1]

In [57]:
## Fibonacci w/ generator:
def fibonacci():
    a, b = 0,1
    while True:
        yield a
        a, b = b, a+b

## To print first-n numbers of fibonacci        
itr = fibonacci()
fib = []
for f in range(5000):   
#     print (next(itr))
    fib.append(next(itr))
    
## To print all numbers <n:
# for f in fibonacci():
#     if f > 10:
#         break
#     print (f)

time: 15.6 ms

In [58]:
fib[0:5]

[0, 1, 1, 2, 3]

time: 15.5 ms

#### Q11: Counter (One of my favorites)

In [15]:
from collections import Counter

In [20]:
## Adding more words to Counter object
words = [
'look', 'into', 'my', 'eyes', 'look', 'into', 'my', 'eyes',
'the', 'eyes', 'the', 'eyes', 'the', 'eyes', 'not', 'around', 'the',
'eyes', "don't", 'look', 'around', 'the', 'eyes', 'look', 'into',
'my', 'eyes', "you're", 'under'
]

word_counts = Counter(words)
word_counts

Counter({'around': 2,
         "don't": 1,
         'eyes': 8,
         'into': 3,
         'look': 4,
         'my': 3,
         'not': 1,
         'the': 5,
         'under': 1,
         "you're": 1})

In [21]:
morewords = ['just', 'look', 'into', 'my', 'eyes']
word_counts.update(morewords)
word_counts

Counter({'around': 2,
         "don't": 1,
         'eyes': 9,
         'into': 4,
         'just': 1,
         'look': 5,
         'my': 4,
         'not': 1,
         'the': 5,
         'under': 1,
         "you're": 1})

In [22]:
## Another way to update Counter:
for word in morewords:
    word_counts[word]+=1
word_counts

Counter({'around': 2,
         "don't": 1,
         'eyes': 10,
         'into': 5,
         'just': 2,
         'look': 6,
         'my': 5,
         'not': 1,
         'the': 5,
         'under': 1,
         "you're": 1})

In [23]:
## Adding two Counters:
a = Counter(words)
b = Counter(morewords)
c = a+b
c

Counter({'around': 2,
         "don't": 1,
         'eyes': 9,
         'into': 4,
         'just': 1,
         'look': 5,
         'my': 4,
         'not': 1,
         'the': 5,
         'under': 1,
         "you're": 1})

#### Q12: Grouping values of a list of dictionaries (something terribly interesting!!)

In [1]:
rows = [
{'address': '5412 N CLARK', 'date': '07/01/2012'},
{'address': '5148 N CLARK', 'date': '07/04/2012'},
{'address': '5800 E 58TH', 'date': '07/02/2012'},
{'address': '2122 N CLARK', 'date': '07/03/2012'},
{'address': '5645 N RAVENSWOOD', 'date': '07/02/2012'},
{'address': '1060 W ADDISON', 'date': '07/02/2012'},
{'address': '4801 N BROADWAY', 'date': '07/01/2012'},
{'address': '1039 W GRANVILLE', 'date': '07/04/2012'},
]

In [2]:
from operator import itemgetter
from itertools import groupby

In [3]:
rows.sort(key = itemgetter('date'))
rows

[{'address': '5412 N CLARK', 'date': '07/01/2012'},
 {'address': '4801 N BROADWAY', 'date': '07/01/2012'},
 {'address': '5800 E 58TH', 'date': '07/02/2012'},
 {'address': '5645 N RAVENSWOOD', 'date': '07/02/2012'},
 {'address': '1060 W ADDISON', 'date': '07/02/2012'},
 {'address': '2122 N CLARK', 'date': '07/03/2012'},
 {'address': '5148 N CLARK', 'date': '07/04/2012'},
 {'address': '1039 W GRANVILLE', 'date': '07/04/2012'}]

In [5]:
for date, items in groupby(rows, key = itemgetter('date')):
    print (date)
    for i in items:
        print (' ', i)

07/01/2012
  {'address': '5412 N CLARK', 'date': '07/01/2012'}
  {'address': '4801 N BROADWAY', 'date': '07/01/2012'}
07/02/2012
  {'address': '5800 E 58TH', 'date': '07/02/2012'}
  {'address': '5645 N RAVENSWOOD', 'date': '07/02/2012'}
  {'address': '1060 W ADDISON', 'date': '07/02/2012'}
07/03/2012
  {'address': '2122 N CLARK', 'date': '07/03/2012'}
07/04/2012
  {'address': '5148 N CLARK', 'date': '07/04/2012'}
  {'address': '1039 W GRANVILLE', 'date': '07/04/2012'}

#### Q13: Filtering data (when List Comprehensions don't work!)

In [6]:
values = ['1', '2', '-3', '-', '4', 'N/A', '5']

In [25]:
def is_int(val):
    try:
        x = int(val)
        return True
    except ValueError:
        return False

In [28]:
list(filter(is_int, values))

['1', '2', '-3', '4', '5']

In [63]:
%unload_ext autotime
import numpy as np
import math

> Bug in Book: pg.28

In [65]:
addresses = [
'5412 N CLARK',
'5148 N CLARK',
'5800 E 58TH',
'2122 N CLARK'
'5645 N RAVENSWOOD',
'1060 W ADDISON',
'4801 N BROADWAY',
'1039 W GRANVILLE',
]
counts = [ 0, 3, 10, 4, 1, 7, 6, 1]

## You want to make a list of all addresses where the corresponding count value was greater than 5:
from itertools import compress

In [66]:
bools = [n > 5 for n in counts]
list(compress(addresses, bools))

['5800 E 58TH', '4801 N BROADWAY', '1039 W GRANVILLE']

#### Q14: Major difference between generator and list comprehension:

> You want to find sum of squares of a given list of numbers:

In [67]:
ls_nums = [1,2,3,4,5]

In [69]:
## Using list comprehension
ss_lc = sum([i*i for i in ls_nums])
ss_lc

55

In [70]:
## Using generatos
ss_gn = sum(i*i for i in ls_nums)
ss_gn

55

#### Difference:

> LC introduces an extra step and creates an extra list. For such a small list, it might not matter, but if **_nums_** was huge, you would end up creating a large temporary data structure to only be used once and discarded. 

> The generator solution transforms the data iteratively and is therefore much more memory-efficient.

### Chapter - n: ...